.clothes__section {
  display: flex;
  max-height: fit-content;
  flex-direction: column;
  max-width: 1015px;
}

.clothes__header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.clothes__title {
  font-size: 20px;
}

.clothes__add-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: color 0.3s ease;
}

.clothes__add-btn:hover {
  color: rgba(0, 0, 0, 0.4);
}

.clothes__cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 1349px) {
  .card {
    max-width: 255px;
    max-height: 255px;
  }
}

@media screen and (max-width: 1135px) {
  .card {
    max-width: 200px;
    max-height: 200px;
  }
}

@media screen and (max-width: 972px) {
  .card {
    max-width: 170px;
    max-height: 170px;
  }

  .clothes__cards-list {
    gap: 10px;
  }
}

@media screen and (max-width: 880px) {
  .card {
    max-width: 140px;
    max-height: 140px;
  }
}

@media screen and (max-width: 791px) {
  .card {
    max-width: 120px;
    max-height: 120px;
  }

  .clothes__header {
    scale: 0.8;
  }
}

@media screen and (max-width: 448px) {
  .clothes__add-btn {
    padding: 0;
  }
}
