.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 40px 28px 40px;
  margin: 0 auto;
  max-height: 40px;
  max-width: 1360px;
  font-weight: bold;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 20px;
  display: none;
}

.header__profile-desktop {
  display: flex;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.header__profile-mobile {
  display: flex;
  align-items: center;
  gap: 20px;
  display: none;
}

.header__hamburger-btn {
  width: 44px;
  height: 44px;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  display: none;
  cursor: pointer;
}

.header__menu {
  display: none;
  background-color: white;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-right: 16px;
  padding-left: 16px;
  top: 16px;
  right: 16px;
  left: 16px;
}

.header__menu-is-opened {
  display: flex;
  z-index: 1000;
  position: absolute;
  flex-direction: column-reverse;
  width: 95vw;
  height: 222px;
  align-items: center;
  gap: 31px;
  padding: 0;
}

.header__menu-close-btn {
  align-self: flex-end;
  position: absolute;
  filter: invert(1);
  background: none;
  border: none;
  top: 11px;
  right: 11px;
}

.header__user-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.header__add-clothes-btn {
  border: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  transition: opacity ease 0.3s;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__add-clothes-btn:hover {
  border: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 677px) {
  .header__profile-desktop {
    display: none;
  }

  .header {
    max-height: fit-content;
    padding: 18px 20px 16px 18px;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header__hamburger-btn {
    display: block;
  }

  .header__hamburger-btn-hidden {
    display: none;
  }

  .header__profile-mobile {
    display: flex;
    align-items: flex-start;
  }

  .header__username {
    margin: 0;
    align-content: center;
  }

  .header__menu {
    /* display: flex; */
    flex-direction: column-reverse;
  }

  .header__menu-is-opened {
    justify-content: center;
    justify-self: center;
    font-size: 20px;
  }
}
