.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 40px 28px 40px;
  margin: 0 auto;
  max-height: 40px;
  max-width: 1360px;
  font-weight: bold;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__add-clothes-btn {
  border: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  transition: opacity ease 0.3s;
}

.header__add-clothes-btn:hover {
  border: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.6;
}
