.main__container {
  max-width: 1360px;
  margin: 40px auto;
  padding: 0 40px 0 40px;
  text-align: center;
}

.main__text {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 34px;
  text-align: left;
}

.main__cards-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0 auto;
  justify-content: flex-start;
  list-style: none;
  max-width: 100%;
}

@media screen and (max-width: 511px) {
  .main__cards-list {
    gap: 15px;
  }

  .main__container {
    margin: 32px auto;
    padding: 0 16px 0 16px;
  }

  .main__text {
    text-align: justify;
    margin-bottom: 16px;
  }
}
