.modal {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  position: fixed;
  z-index: 1000;
  inset: 0;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease, opacity 0.5s ease;
  padding-left: 20px;
  padding-right: 20px;
}

.modal__is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 496px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 28px;
  padding-left: 28px;
  border-radius: 20px;
}

.modal__close-btn {
  align-self: flex-end;
  position: absolute;
  background: transparent;
  border: none;
  filter: invert(0.3);
  padding-top: 20px;
  cursor: pointer;
  transition: filter 0.5s ease;
}

.modal__close-btn:hover {
  filter: invert(0.7);
}

.modal__form {
  border: none;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.modal__title {
  padding-top: 28px;
  padding-bottom: 24px;
  margin: 0;
  font-size: 16px;
}

.modal__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.modal__form-label {
  display: flex;
  flex-direction: column;
  font-style: bold;
  font-weight: 700;
}

.modal__form-input {
  padding: 8px 0 4px 0;
  border: none;
  border-bottom: 1px solid black;
  font-weight: 700;
}

.modal__form-buttons {
  display: flex;
  flex-direction: column;
  margin: 24px 0 32px 0;
  gap: 8px;
  padding: 0;
  border: none;
}

.modal__buttons-title {
  margin: 0;
  font-size: 16px;
  padding-bottom: 12px;
}

.modal__radio-label {
  color: rgba(0, 0, 0, 0.3);
}

.modal__radio-btn {
  border: none;
  margin-right: 8px;
  color: gray;
  cursor: pointer;
}

.modal__radio-btn:hover {
  border: none;
  margin-right: 8px;
  color: black;
  cursor: pointer;
  scale: 1.1;
}

.modal__radio-btn:checked {
  color: black;
  background-color: black;
  accent-color: black;
}

.modal__radio-label:has(input:checked) {
  color: black;
  accent-color: black;
}

.modal__submit-btn {
  border: none;
  border-radius: 4px;
  margin-bottom: 36px;
  width: 124px;
  height: 36px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.modal__submit-btn:hover {
  border: none;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.modal__submit-btn:disabled {
  border: none;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  cursor: not-allowed;
}

@media screen and (max-width: 448px) {
  .modal {
    padding: 0;
  }

  .modal__container {
    align-self: flex-end;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__close-btn {
    filter: invert(1);
  }
}
