.profile {
  display: flex;
  flex-direction: row;
  padding: 47px 40px 80px 40px;
  max-width: 1360px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 60px;
}

@media screen and (max-width: 700px) {
  .profile {
    padding: 16px 16px 16px 16px;
    gap: 30px;
  }
}
