.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__header {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  font-weight: bold;
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  margin-top: 12px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px gray solid;
}

.sidebar__profile-btn {
  border: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.sidebar__profile-btn:hover {
  opacity: 0.6;
}

.sidebar__logout-btn {
  border: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.sidebar__logout-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 750px) {
  .sidebar__profile-btn {
    font-size: 16px;
    text-align: left;
  }

  .sidebar__logout-btn {
    font-size: 16px;
  }

  .sidebar__header {
    scale: 0.9;
  }
}

@media screen and (max-width: 511px) {
  .sidebar__header {
    scale: 0.8;
    transform: translate(-20px);
  }
}
