.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__header {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
