@font-face {
  font-family: "CabinetGrotesk";
  src: url("../vendor/fonts/CabinetGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.app {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
}
